<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading"><%= @customer.full_name %>
      <span class="badge pull-right">$2,500</span>
    </div>
      <ul class="list-group">
        <li class="list-group-item">
          <%= @customer.address %><br>
          <%= @customer.city %>, <%= @customer.state %>, <%= @customer.zip %>
        </li>
        <li class="list-group-item"><%= @customer.phone %></li>
        <li class="list-group-item"><%= @customer.email %></li>
      </ul>
      <div class="panel-footer">
        <%= link_to 'Edit', edit_customer_path(@customer) %>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading"><%= @customer.first_name %>'s Cars</div>
      <ul class="list-group">
        <% @customer.vehicles.each do |vehicle| %>
          <li class="list-group-item">
            <%= link_to vehicle.description, vehicle %>
            <span class="badge"><%= vehicle.work_orders.count %></span>
          </li>
        <% end %>
      </ul>
      <div class="panel-footer">
        <%= link_to 'Add A New Car', new_customer_vehicle_path(@customer) %>
      </div>
    </div>
  </div>
</div>

<%= link_to 'Back', customers_path %>
