<p id="notice"><%= notice %></p>

<div class="panel panel-default">
  <div class="panel-heading">
    <%= @work_order.customer.full_name %> <span class="pull-right"><%= @work_order.vehicle.description %></span>
  </div>
</div>
<p>
  <strong>Start time:</strong>
  <%= @work_order.start_time %>
</p>

<p>
  <strong>Vehicle:</strong>
  <%= @work_order.vehicle %>
</p>

<%= link_to 'Edit', edit_work_order_path(@work_order) %> |
<%= link_to 'Back', work_orders_path %>
