<%= form_for(@vehicle) do |f| %>
  <% if @vehicle.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@vehicle.errors.count, "error") %> prohibited this vehicle from being saved:</h2>

      <ul>
      <% @vehicle.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :customer_id, 'Customer' %>
    <%= f.collection_select(:customer_id, Customer.all, :id, :full_name, class: 'form-control') %>
  </div>

  <div class="form-group">
    <%= f.label :vin %><br>
    <%= f.text_field :vin, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :mileage %><br>
    <%= f.text_field :mileage, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :year %><br>
    <%= f.text_field :year, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :make %><br>
    <%= f.text_field :make, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :model %><br>
    <%= f.text_field :model, class: 'form-control' %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
