<p id="notice"><%= notice %></p>

<div class="panel panel-default">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Vin</th>
        <th>Mileage</th>
        <th>Description</th>
        <th>Visits</th>
        <th>Owner</th>
      </tr>
    </thead>

    <tbody>
      <% @vehicles.each do |vehicle| %>
        <tr class="clickable-row" data-url="<%= vehicle_path(vehicle) %>">
          <td><%= link_to vehicle.vin, vehicle %></td>
          <td><%= vehicle.mileage %></td>
          <td><%= vehicle.description %></td>
          <td><%= vehicle.work_orders.count %></td>
          <td><%= link_to vehicle.customer.full_name, vehicle.customer %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<br>

<%= link_to 'New Vehicle', new_vehicle_path %>
