<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading"><%= @vehicle.description %></div>
      <ul class="list-group">
        <li class="list-group-item"><%= @vehicle.vin %></li>
        <li class="list-group-item"><%= @vehicle.mileage %> miles</li>
        <li class="list-group-item"><%= link_to @vehicle.customer.full_name, customer_path(@vehicle.customer) %></li>
      </ul>
    </div>
  </div>
  
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">Book an Appointment</div>
      <%= form_for @work_order do |f| %>

        <%= f.hidden_field :vehicle_id, value: @vehicle.id %>

        <div class="form-group">
          <%= f.label :start_time, "Arrival Time" %>
          <%= f.datetime_local_field :start_time, class: 'form-control' %>
        </div>

        <%= f.submit "Save" %>
      <% end %>
    </div>
  </div>
</div>

<hr>

<%= link_to 'Edit', edit_vehicle_path(@vehicle) %>
