<!DOCTYPE html>
<html>
<head>
  <title>ShopManager | Home</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="container">
    <div class="page-header">
      <div class="pull-left">
        <h1>ShopManager</h1>
      </div>
      <div class="pull-right">
        <% if user_signed_in? %>
          <span><%= link_to current_user.email, edit_user_registration_path %>  - <%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></span>
      <% else %>
        <%= link_to 'Sign In', new_user_session_path %> - <%= link_to 'Sign Up', new_user_registration_path %>
        <% end %>
      </div>
      <div class="clearfix"></div>
    </div>

    <ul class="nav nav-pills">
      <li><%= link_to 'Customers', customers_path %></li>
      <li><%= link_to 'Vehicles', vehicles_path %></li>
      <li><%= link_to 'Schedule', work_orders_path %></li>
    </ul>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= yield %>
  </div>


</body>
</html>
